a img { /* ie rage */
    border:none;
    outline:none;
}

section
{
    background: #efefef;
    padding: 1em;
}

section a
{
    color: #000099;
    font-style: oblique;
    text-decoration: none;
}

section a:hover
{
    color: #990099;
}

section h2, h3
{
    font-family: lobster; 
}

body, html
{
    color: #000000;
    background: #7777aa;
    font-family: lato;
    font-size: 11pt;
    margin: 0;
}

#container
{
    margin: 5px auto 35px auto;
    max-width: 720px;
    width: 720px;
}

footer
{
    background: #444499;
    color: #cecece;
    margin: 0 auto 0 auto;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

header
{
}

header h1
{
    color: #efefef;
    display: inline-block;
    font-family: lobster, sans-serif;
    font-size: 2em;
    margin: 1em 0 1em .5em;
}

nav
{
    width: 100%;
    background: #444499;
}

nav a
{
    background: #333377;
    color: #efefef;
    display: inline-block;
    padding: .5em 0 .5em 0;
    text-align: center;
    text-decoration: none;
    width: 115px;
}

nav a.current
{
    background: #002277;
}

nav a:hover
{
    background: #220077;
    color: #efefef;
}

nav .dropdown
{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index:100;
}

nav .dropdown a
{
    background: #ee6666;
    display: block;
    clear: both;
    margin-top: 2px;   
}

nav .dropdown a:hover
{
    background: #992222;
    color: #efefef;
}



nav .dropdown a.current 
{
    background: #990099;
}

.week
{
}

.weeknumber
{
    font-weight: bold;
}

.week .day:nth-of-type(2n)
{
    background: #9e9edd;
}

.day
{
    display: inline-block;
    padding: 5px;
    width: 80px;
    height: 80px;
    background: #efefef;
    background-color: #9edd9e;
    text-align: center;
    vertical-align: middle;
}

.day img
{
    display: block;
    margin: 0 auto;
}

.day.empty
{
    background-color: #de9ede !important;
}

.day img
{
    width: 64px;
    height: 64px;
}

.nutrition .nutrition-row
{
    width:100%;
    margin:0;
    border: solid black;
    border-width: 1px 1px 0px 1px;
}

.nutrition .nutrition-row:last-of-type
{
    border: 1px solid black;
}

.nutrition .nutrition-row .key
{
    display: inline-block;
    width: 190px;
    padding: 5px;
    background: #7474AA;
}

.servings .servings-row
{
    width: 100%;
    margin: 0;
    border: solid black;
    border-width: 1px 1px 0px 1px;
}

.servings .servings-row:last-of-type
{
    border: 1px solid black;
}

.servings .servings-row .key
{
    display: inline-block;
    width: 190px;
    padding: 5px;
    background: #7474AA;
}

.food-image
{
    box-shadow: 2px 2px 5px #000000;
    float:right;
}

.comment
{
    display: block;
    margin: 5px 0;
    background: #ceffce;
}

#comment-box .comment:nth-of-type(even) 
{
    background: #ffcece;
}

#comment-box .comment:nth-of-type(even) .comment-meta
{
    background: #AA7474;
}

.comment .comment-meta
{
    display: table-cell;
    width: 190px;
    padding: 5px;
    background: #74AA74;
}

.comment .comment-meta img
{
    float: right;
}

.comment .comment-text
{
    display: table-cell;
    width: 480px;
}

.comment .comment-meta .name
{
    display: block;
}

.comment .comment-meta .date
{
    display: block;
}

.new-comment textarea
{
    width: 300px;
    height: 8em;
}

@media (min-width: 1200px)
{
    #container
    {
        max-width: 1100px;
        width: 1100px;
    }

    .day
    {
        width: 140px;
        height: 140px;
    }

    .day img
    {
        width: 128px;
        height: 128px;
    }

    .nutrition
    {
        display: table-cell;
        width: 520px;
    }

    .servings
    {
        display: table-cell;
        width: 520px;
        height: 100%;
    }

    .food-image
    {
        float: right;
    }

    .comment .comment-meta
    {
        width: 260px;
    }
    
    .comment .comment-text
    {
        width: 660px;
    }
}

@media (max-width: 720px)
{
    #container {
        width: 100%;
        margin: 0;
    }

    header h1 {
        font-size: 1.2em !important;
    }
    
    nav a {
        display: inline-block;
        margin: 0 1% 3px 1%;
        width: 47%;
    }

    .day
    {
        display: block;
        width: 100%;
        height: auto;
        background: #efefef;
        background-color: #9edd9e;
        text-align: center;
    }

    .day.empty
    {
        display: none;
    }

    .food-image
    {
        float: none;
    }

    .comment .comment-meta
    {
        display: block;
        padding: 5px 0;
        width: 100%;
    }

    .comment .comment-text
    {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 5px 0;
    }
    
    nav .dropdown
    {
        display: none;
        position: absolute;
    }

    nav .dropdown.show
    {
        display: block;
        width:100%;
    }


}

@media (max-width: 480px)
{
    nav a {
        clear: both;
        display: block;
        margin: 0 0 3px 0;
        width: 100%;
    }

    .nutrition .nutrition-row .key
    {
        display: block;
        width: 100%;
        padding: 5px 0;
        background: #7474AA;
        text-align: center;
    }
    
    .nutrition .nutrition-row .value
    {
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

    .food-image
    {
        max-width:100%;
    }

    nav .dropdown
    {
        display: none;
        position: relative;
    }

    nav .dropdown.show
    {
        display: block;
    }

}

